.first-row{
    display: flex;
    align-items: center;
}

.options-row{
    display: flex;
    align-items: center;
}

.first-row > .new-item-input, .options-row > .normal-item{
    margin: 0;
    width: 150px;
}

.add-sign{
    background-image: url("assets/add.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;

    width: 22px;
    height: 22px;

    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.add-sign:hover{
    transform: rotate(180deg);
}

.minus-sign{
    background-image: url("assets/minus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;

    width: 22px;
    height: 22px;

    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.minus-sign:hover{
    transform: rotate(180deg);
}

/* ************Buttons ********** */

.buttons-row{
    width: 150px;
    display: flex;
}

.save-but{
    background-color: rgb(23, 218, 23);
    transition: background-color 0.3s ease;

    flex-grow: 1;
    margin: 0px;
    width: 75px;
}

.buttons-row > .save-but:hover{
    background-color: rgb(0, 255, 0);
}

.cancel-but{
    background-color: rgb(196, 41, 41); 
    transition: background-color 0.3s ease;

    flex-grow: 1;
    margin: 0px;
    width: 75px;
}

.buttons-row > .cancel-but:hover{
    background-color: rgb(255, 0, 0);
}